/* Montserrat Arabic Font Family */
@font-face {
  font-family: 'Montserrat-Arabic';
  src: url('./Font/Montserrat-Arabic.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

